// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$indigo: #292961;
$indigo-accent: #4B4B7E;
$red: #DD2222;
$green: #7FAD39;
$green-accent: #217645;
$blue: #1F75CB;
$white: #fff;
$blue-accent: #1068BF;
$secondary: #626262;

$silver: #ccc;
